<div style="height: 50px; background-color: #575757">
    <!-- prevent nav bar from overlapping content on mobile -->
</div>
<div class="row"
    style="padding: 3% 5% 0; margin: 0; font-family: Raleway; color: white; background-color: #575757; font-size: 9vmin"
    [ngStyle]="{'font-size': onDesktop ? '9vmin' : '12vmin'}">
    About Me
</div>
<div style="padding: 1% 5%; margin: 0; font-family: lato; background-color: #575757">
    <div class="row">
        <div class="col-sm-2">
            <img src="./../../../assets/personal_picture.jpg" class="aboutImage"
                [ngStyle]="{'margin-bottom': onDesktop ? '0%' : '3%' }">
        </div>
        <div class="col-sm-10" style="overflow-wrap: break-word; font-size: 2.5vmin">
            My name is Colby Hill. As a senior at the University of South Carolina, I am pursuing a Bachelor's in
            Computer Science.
            In May 2020, I will graduate with Leadership Distinction in Research as well as an Information Assurance and
            Security Certificate.
            After graduation, I hope to acquire a Software Engineering internship for the Summer of 2020.
            In Fall 2020, I plan to return to the University of South Carolina to complete a Master's of Computer
            Science, which
            I anticipate to graduate from in May of 2021.
            I am a native of Sandy Run, SC, and now live in Columbia, SC.
            <br><br>
            As a Software Development intern at Krumware I have the opportunity to contribute to projects I am
            passionate about and develop my skills and knowledge. You will also find me serving as a peer tutor to
            younger Computer
            Science students, or volunteering with Active Minds &mdash; an organization that advocates for mental health
            and wellness.
        </div>
    </div>
    <div class="row"
        style="padding: 2% 0%; margin: 0; font-family: Raleway; background-color: #575757; font-size: 7vmin">
        Interests
        <p style="overflow-wrap: break-word; font-size: 2.5vmin; font-family: lato">
            Outside of school, work, and volunteering, my interests include hiking, skiing, kayaking, traveling,
            motorcycling,
            fishing, puzzle-solving, and bowling.
        </p>
    </div>
    <div class="row" style="padding: 0; margin: 0; background-color: #575757">
        <div class="col-sm-3">
            <img src="./../../../assets/skiing.jpg" class="aboutImage">
        </div>
        <div class="col-sm-3">
            <img src="./../../../assets/hiking.jpeg" class="aboutImage">
        </div>
        <div class="col-sm-3">
            <img src="./../../../assets/fishing.jpg" class="aboutImage">
        </div>
        <div class="col-sm-3">
            <img src="./../../../assets/hotair.jpeg" class="aboutImage">
        </div>
    </div>
</div>