<head>
    <title>Colby Hill | About Me</title>
    <meta name="description" content="I'm Colby Hill, a Software Engineer, and a student at the University of South Carolina.">
    <meta name="keywords" content="Colby Hill,Portfolio,Software Engineer,colby-hill,About">
</head>

<div style="height: 50px; background-color: #575757">
    <!-- prevent nav bar from overlapping content on mobile -->
</div>

<div style="padding: 4% 12%; margin: 0; font-family: lato; background-color: black; background-image: url(../../../../assets/about-bkgnd.jpg); background-size: cover;">
    <div class="row" style="padding: 0 0 8% 0; text-align: center; margin: 0;">
        <h1 class="header"[ngStyle]="{'font-size': onDesktop ? '4.5vw' : '8vw' }">About Me
        </h1>
    </div>
    <div class="row" style="background: rgba(26, 37, 47, 0.85); padding: 2%; margin-bottom: 2%; text-align: justify; border-radius: 30px;">
        <div class="col-sm-12" style="overflow-wrap: break-word; font-family: Lato, sans-serif;"
            [ngStyle]="{'font-size': onDesktop ? '3vmin' : '4vmin', 'text-align': onDesktop ? 'justify' : 'center'}">
            My name is Colby Hill. As a senior at the University of South Carolina, I am pursuing a Bachelor's in
            Computer Science.
            In May 2020, I will graduate with Leadership Distinction in Research as well as an Information Assurance and
            Security Certificate.
            After graduation, I hope to acquire a Software Engineering internship for the Summer of 2020.
            In Fall 2020, I plan to return to the University of South Carolina to complete a Master's of Computer
            Science, which
            I anticipate to graduate from in May of 2021.
            I am a native of Sandy Run, SC, and now live in Columbia, SC.
            <br><br>
            As a Software Development intern at Krumware I have the opportunity to contribute to projects I am
            passionate about and develop my skills and knowledge. You will also find me serving as a peer tutor to
            younger Computer
            Science students, or volunteering with Active Minds &mdash; an organization that advocates for mental health
            and wellness.
        </div>
    </div>
</div>
<div style="padding: 2% 10% 5% 10%; margin: 0; font-family: lato; background-color: #1d2903; background-image: url(../../../../assets/about-top-bkgnd.jpg); background-size: cover;">
    <div class="row header" style="padding: 2%; text-align: center; margin: 2%;">
        <h1 class="header" [ngStyle]="{'font-size': onDesktop ? '4vw' : '8vw' }">Interests
        </h1>
    </div>
    <div class="row" style="padding: 2%; margin: 0; font-family: Lato, sans-serif; font-size: 7vmin; background: rgba(26, 37, 47, 0.85); border-radius: 30px;">
        
        <p style="overflow-wrap: break-word; font-family: Lato, sans-serif; padding: 2%;"
        [ngStyle]="{'font-size': onDesktop ? '3vmin' : '4vmin', 'text-align': onDesktop ? 'justify' : 'center'}">
            Whenever I'm not working, volunteering, or creating, you will likely find me outdoors.
            I have an unequivocal passion for hiking and traveling with my fiancé Hayden.
            Ever since learning to ski, I've done everything I can to get back to the slopes.
            When I'm home, I'm attempting to follow along with Gordon Ramsay cooking videos,
            playing chess, hanging out with friends, or watching Netflix.
        </p>
        <div class="col-sm-12" *ngIf="onDesktop">
            <div class="img-col">
                <img src="./../../../assets/skiing.jpg" alt="Skiing at Snowshoe, WV" class="aboutImage">
            </div>
            <div class="img-col">
                <img src="./../../../assets/hiking.jpeg" alt="Hiking at Mount Baker, WA" class="aboutImage">
            </div>
            <div class="img-col">
                <img src="./../../../assets/fishing.jpg" alt="Fishing on a boat in Sandy Run, SC" class="aboutImage">
            </div>
            <div class="img-col">
                <img src="./../../../assets/hotair.jpeg" alt ="About to takeoff in a Hot Air Balloon in Albuquerque, NM" class="aboutImage">
            </div>
        </div>

        <!-- Optimized for mobile -->
        <div class="col-sm-12" *ngIf="!onDesktop">
            <div class="mobile-img-col">
                <img src="./../../../assets/skiing.jpg" alt="Skiing at Snowshoe, WV" class="aboutImage">
            </div>
            <div class="mobile-img-col">
                <img src="./../../../assets/hiking.jpeg" alt="Hiking at Mount Baker, WA" class="aboutImage">
            </div>
            <div class="mobile-img-col">
                <img src="./../../../assets/fishing.jpg" alt="Fishing on a boat in Sandy Run, SC" class="aboutImage">
            </div>
            <div class="mobile-img-col">
                <img src="./../../../assets/hotair.jpeg" alt="About to takeoff in a Hot Air Balloon in Albuquerque, NM"
                    class="aboutImage">
            </div>
        </div>
    </div>
</div>