<head>
    <title>Colby Hill | About Me</title>
    <meta name="description" content="I'm Colby Hill, a Software Engineer, and a student at the University of South Carolina.">
    <meta name="keywords" content="Colby Hill,Portfolio,Software Engineer,colby-hill,About">
</head>

<div style="height: 50px; background-color: #1d1d1d">
    <!-- prevent nav bar from overlapping content on mobile -->
</div>

<div class="row exp" style="padding: 2% 5%; text-align: center; margin: 0 auto; background: #1d1d1d;" id="experience-cards">
    <h1 style="text-align: left; width: 100%; color: #ffffff; letter-spacing: 3px;"
    [ngStyle]="{'font-size': onDesktop ? '3.5vw' : '8vw' }">
        About Me
    </h1>
    <div style="background-color: #1a6b3c; height: 5px; width: 250px; margin: 1% 0;"></div>
</div>

<div class="row" style="padding: 0% 5% 2% 5%; margin: 0; font-family: Montserrat; background-color: #1d1d1d;">
    <div style="font-family: Montserrat; text-align: left;">
        <p style="font-weight: 600; font-size: 3vmin;"  [ngStyle]="{'letter-spacing': onDesktop ? '2px' : '1px' }">
            My name is Colby Hill. I will earn my Bachelor of Science in Computer Science from the University of South Carolina in May of 2020.
            I will graduate with Leadership Distinction in Research as well as an Information Assurance Specialization. 
            Throughout my college years, I’ve had the opportunity to gain valuable experience in the computing field through many different roles from research labs, to startups, to massive corporations.
            <br> <br>
            I’m currently a Software Development intern at Krumware, a startup in Columbia, SC. 
            At Krumware I am building features for high-quality web applications, creating solutions for companies toughest problems, and leveraging tools to accelerate the development process. 
            You will also find me serving as a peer tutor for younger Computer Science students, or volunteering with Active Minds — an organization that advocates for mental health and wellness.
        </p>
    </div>
</div>

<div class="row exp" style="padding: 0% 5% 2% 5%; text-align: center; margin: 0 auto; background: #1d1d1d;" id="experience-cards">
    <h1 style="text-align: left; width: 100%; color: #ffffff; letter-spacing: 3px;"
    [ngStyle]="{'font-size': onDesktop ? '3.5vw' : '8vw' }">
        Interests
    </h1>
    <div style="background-color: #1a6b3c; height: 5px; width: 250px; margin: 1% 0;"></div>
</div>

<div class="row" style="padding: 0% 5% 2% 5%; margin: 0; font-family: Montserrat; background-color: #1d1d1d;">
    <div style="font-family: Montserrat; text-align: left;">
        <p style="font-weight: 600; font-size: 3vmin;"  [ngStyle]="{'letter-spacing': onDesktop ? '2px' : '1px' }">
            Whenever I'm not working, volunteering, or creating, you will likely find me outdoors.
            I have an unequivocal passion for hiking and traveling with my fiancé Hayden.
            Ever since learning to ski, I've done everything I can to get back to the slopes.
            When I'm home, I'm attempting to follow along with Gordon Ramsay cooking videos,
            playing chess, hanging out with friends, or watching Netflix.
        </p>
    </div>
</div>
<div class="row" style="padding: 0% 5% 5% 5%; margin: 0; font-family: Montserrat; background-color: #1d1d1d;">
        <div style="float: left;" [ngStyle]="{'width': onDesktop ? '21%' : '42%', 'margin': onDesktop ? '0 2%' : '4%' }">
            <img src="./../../../assets/skiing.jpg" alt="Skiing at Snowshoe, WV" style="width: 100%; border-radius: 20px;">
        </div>
        <div style="float: left;" [ngStyle]="{'width': onDesktop ? '21%' : '42%', 'margin': onDesktop ? '0 2%' : '4%' }">
            <img src="./../../../assets/hiking.jpeg" alt="Hiking at Mount Baker, WA" style="width: 100%; border-radius: 20px;">
        </div>
        <div style="float: left;" [ngStyle]="{'width': onDesktop ? '21%' : '42%', 'margin': onDesktop ? '0 2%' : '4%' }">
            <img src="./../../../assets/fishing.jpg" alt="Fishing on a boat in Sandy Run, SC" style="width: 100%; border-radius: 20px;">
        </div>
        <div style="float: left;" [ngStyle]="{'width': onDesktop ? '21%' : '42%', 'margin': onDesktop ? '0 2%' : '4%' }">
            <img src="./../../../assets/hotair.jpeg" alt="About to takeoff in a Hot Air Balloon in Albuquerque, NM" style="width: 100%; border-radius: 20px;">
        </div>
</div>