
div, h1, .row {
    color: white;
}
.aboutImage {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 2px solid black;
}
.img-col {
    width: 23%;
    height: 23%;
    margin: 1%;
    display: inline-block;
}
.img-col:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
    filter: brightness(1.1);
}
.header {
    text-align: center;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 500;
}
.mobile-img-col {
    width: 46%;
    height: 23%;
    margin: 2% 2%;
    display: inline-block;
}
.aboutMeImage {
    width: 60%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
