.example-card {
  max-width: 400px;
  min-width: 200px;
  min-height: 270px;
  background-color: #f1edf8;
}

.example-header-image {
  background-size: cover;
}

.example-button {
  font-family: lato;
}

.position-details-text {
  font-family: lato, sans-serif;
}
/* font - family: "Lato", sans - serif;
font - weight: 400;
line - height: 1.7;
text - align: center;
margin: 0;
box - sizing: inherit;
background - color: #fff;
color: #777;
animation: bottomIn 0.75s ease - out 0.5s;
animation - fill - mode: backwards;
text - transform: uppercase;
text - decoration: none;
padding: 1.5rem 4rem;
display: inline - block;
border - radius: 10rem;
transition: all .2s;
font - size: 1.6rem; */