.example-card {
  font-family: "Lato", sans-serif;
  background-color: white;
  margin: 0;
  padding: 1% 1.5%;
  width: 18vw;
  min-width: 270px;
}
.card-title {
  font-weight: 550;
}
.example-header-image {
  background-size: cover;
}

.example-button {
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
}

.position-details-text {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  text-align: left;
}
/* font - family: "Lato", sans - serif;
font - weight: 400;
line - height: 1.7;
text - align: center;
margin: 0;
box - sizing: inherit;
background - color: #fff;
color: #777;
animation: bottomIn 0.75s ease - out 0.5s;
animation - fill - mode: backwards;
text - transform: uppercase;
text - decoration: none;
padding: 1.5rem 4rem;
display: inline - block;
border - radius: 10rem;
transition: all .2s;
font - size: 1.6rem; */