<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url('+imageName+')'}"></div>
        
        <mat-card-title>{{companyName}}</mat-card-title>
        <mat-card-subtitle>{{positionName}}</mat-card-subtitle>
        <mat-card-subtitle>{{positionDates}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <span class="position-details-text"> {{positionDetails}} </span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="example-button" routerLink="experience">Learn More</button>
    </mat-card-actions>
</mat-card>