<div style="background-image: url(../../../../assets/forest-dark.jpg); background-size: cover; background-color: #040729; opacity: 100%; padding-bottom: 3%;">
    <div class="row exp" style="text-align: center; margin: 0 auto;" id="experience-section"
    [ngStyle]="{'padding': onDesktop ? '2% 10px 2% 5%' : '10% 10px 2% 10px'}">
        <h1 style="text-align: left; width: 100%; color: #ffffff; letter-spacing: 3px;"
        [ngStyle]="{'font-size': onDesktop ? '3.5vw' : '8vw'}">
            Experience
        </h1>
        <div style="background-color: #1a6b3c; height: 5px; margin: 1% 0;" [ngStyle]="{'width': onDesktop ? '250px' : '125px' }"></div>
    </div>

    <div class="row" style="vertical-align: middle; text-align: center; display: flex; flex-flow: row wrap; width: 100vw; margin: 0;">
        <div class="col-sm-3" style="width: 23%;"></div> <!-- spacer -->

        <div class="col-sm-3 exp-card" [ngStyle]="{'width': onDesktop ? '25%' : '100%', 'padding': onDesktop ? '1% 1% 0 1%' : '2%', 'margin': onDesktop ? '1%' : '5%'}">
            <h3 class="comp-title" [ngStyle]="{'font-size': onDesktop ? '3vmin' : '5vmin' }">Krumware</h3>
            <h3 class="comp-subtitle" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3.5vmin' }">Software Development Intern</h3>
            <h3 class="comp-subtitle" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3.5vmin' }">August 2019 - Current</h3>
            <ul class="bullet-list" [ngStyle]="{'font-size': onDesktop ? '1.7vmin' : '3vmin' }">
                <li class="skill-list-item">Led the migration to Rancher which enabled Multi-Cloud Computing and improved application availability</li>
                <li class="skill-list-item">Automated Kubernetes deployments and resource management workflow</li>
                <li class="skill-list-item">Developing microservices for feature-rich progressive web applications</li>
                <li class="skill-list-item">Utilizing Swagger UI to generate visual and interactive API documentation</li>
            </ul>
        </div>

        <div class="col-sm-3 exp-card" [ngStyle]="{'width': onDesktop ? '25%' : '100%', 'padding': onDesktop ? '1% 1%' : '2%', 'margin': onDesktop ? '1%' : '5%'}">
            <h3 class="comp-title" [ngStyle]="{'font-size': onDesktop ? '3vmin' : '5vmin' }">Boeing</h3>
            <h3 class="comp-subtitle" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3.5vmin' }">Software Engineering Intern</h3>
            <h3 class="comp-subtitle" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3.5vmin' }">May 2019 - August 2019</h3>
           <ul class="bullet-list" [ngStyle]="{'font-size': onDesktop ? '1.7vmin' : '3vmin' }">
                <li class="skill-list-item">Architected and deployed two serverless identity management applications into production</li>
                <li class="skill-list-item">Leveraged Continuous Integration and Deployment pipelines to maximize development efficiency</li>
                <li class="skill-list-item">Implemented solutions to assist the collection, modification, and publication of identity data</li>
                <li class="skill-list-item">Designed and developed a homepage for the Identity & Directory Services team</li>
            </ul>
        </div>

        <div class="col-sm-3"></div> <!-- spacer -->
    </div>


    <div class="row" style="vertical-align: middle; text-align: center; display: flex; flex-flow: row wrap; width: 100vw; margin: 0">
        <div class="col-sm-3" style="width: 23%;"></div> <!-- spacer -->

        <div class="col-sm-3 exp-card" [ngStyle]="{'width': onDesktop ? '25%' : '100%', 'padding': onDesktop ? '1% 1%' : '2%', 'margin': onDesktop ? '1%' : '6%'}">
            <h3 class="comp-title" [ngStyle]="{'font-size': onDesktop ? '3vmin' : '5vmin' }">University Of South Carolina</h3>
            <h3 class="comp-subtitle" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3.5vmin' }">Assistant Researcher</h3>
            <h3 class="comp-subtitle" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3.5vmin' }">November 2017 - May 2019</h3>
           <ul class="bullet-list" [ngStyle]="{'font-size': onDesktop ? '1.7vmin' : '3vmin' }">
                <li class="skill-list-item">Increased smartwatch battery lifespan by 300% by implementing batch processing and optimizing communication</li>
                <li class="skill-list-item">Developed an Android Wear smartwatch application to detect and record smoking gestures</li>
                <li class="skill-list-item">Presented at Discover USC, Arnold School of Public Health, and lab meetings</li>
                <li class="skill-list-item">Performed application tests and data analysis using R and Python scripts</li>
            </ul>
        </div>

        <div class="col-sm-3 exp-card" [ngStyle]="{'width': onDesktop ? '25%' : '100%', 'padding': onDesktop ? '1% 1%' : '2%', 'margin': onDesktop ? '1%' : '5%'}">
            <h3 class="comp-title" [ngStyle]="{'font-size': onDesktop ? '3vmin' : '5vmin' }">University Of South Carolina</h3>
            <h3 class="comp-subtitle" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3.5vmin' }">Teaching Assistant</h3>
            <h3 class="comp-subtitle" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3.5vmin' }">May 2019 - August 2019</h3>
           <ul class="bullet-list" [ngStyle]="{'font-size': onDesktop ? '1.7vmin' : '3vmin' }">
                <li class="skill-list-item">Led biweekly labs for Algorithmic Design I/II courses</li>
                <li class="skill-list-item">Overviewed each lab assignment with 25-30 students in a pre-lab discussion</li>
                <li class="skill-list-item">Supported all students with one-on-one personalized assistance during labs</li>
                <li class="skill-list-item">Reinforced topics presented by the professor by reviewing material with students</li>
            </ul>
        </div>

        <div class="col-sm-3"></div> <!-- spacer -->
    </div>
</div>