<div class="experience-section-wrapper">

  <div id="experience-section" class="section-anchor"></div>

  <div class="section-header">
    <div class="headerFont">Experience</div>
    <div class="headerUnderscore"></div>
  </div>

  <div class="experience-grid">
    <app-experience-card
      *ngFor="let exp of expList"
      [compName]="exp.companyName"
      [title]="exp.titles"
      [dates]="exp.dates"
      [bullets]="exp.bullets"
      [logo]="exp.logo">
    </app-experience-card>
  </div>

</div>
