<div style="background-color: #1B1B1B;" id="project-section">
    <div style="padding: 0 5%; justify-content: center; align-items: center;">
        <div class="headerFont">Projects</div>
        <div class="headerUnderscore"></div>
    </div>

    <div style="width: 100%; margin: 0; padding: 25px 0; justify-content: center; display: flex; flex-flow: row wrap;">
        <div style="margin: 25px 50px; width: 320px;">
          <h1 class="project-title">Outdoorist</h1>
          <a href="https://apps.apple.com/app/id1489423707" class="card-holder">
            <div class="card" style="background-image: url(../../../../assets/outdoorist.jpg);">
                <div style="height: 160px"></div>
                <div class="project-desc">
                    iOS app to track outdoor adventures, learn about new destinations, and plan trips.
                </div>
            </div>
          </a>
        </div>

        <div style="margin: 25px 50px; width: 320px;">
          <h1 class="project-title">Angular Full CI</h1>
          <a href="https://github.com/colbyhill21/angular-full-ci/" class="card-holder">
              <div class="card" style="background-image: url(../../../../assets/github-actions.jpg);">
                  <div style="height: 160px"></div>
                  <div class="project-desc">
                    2020 Github Actions Hackathon winner. Provides full CI for Angular applications.
                  </div>
              </div>
          </a>
        </div>

        <div style="margin: 25px 50px; width: 320px;">
          <h1 class="project-title">USC Tour AR</h1>
          <a href="https://sccapstone.github.io/UofSCTourAR/" class="card-holder">
              <div class="card" style="background-image: url(../../../../assets/usc-gates.jpg);">
                  <div style="height: 160px"></div>
                  <div class="project-desc">
                      iOS app for Augmented Reality historical tours of the University of South Carolina.
                  </div>
              </div>
          </a>
        </div>
    </div>
</div>
