.card {
  height: 200px;
  width: 320px;
  padding: 0;
  margin: 2% auto;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  padding: 0;
}
.card-holder {
  margin: 0 50px;
  height: 200px;
  width: 320px;
}
a {
  text-decoration: none;
}
.project-title {
  height: 160px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.project-desc {
  height: 40px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  text-align: center;
  background: rgba(13, 18, 24, 0.75);
  color: white;
  font-size: 14px;
}