<div style="background-color: #060a3b; padding-bottom: 3%;">

    <div class="row" style="padding: 2% 10px; text-align: center; margin: 0% auto;">
        <h1 style="font-size: 3vw; text-align: center; width: 100%; color: #ffffff; text-transform: uppercase;">Projects
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-2">
            <div class="flip">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                   <h1 class="text-shadow">Outdoorist</h1>
                </div>
                <div class="back" style="text-align: center;">
                    <h1 class="proj-title">Outdoorist</h1>
                    <h5 class="proj-desc">iOS app to track outdoor adventures, learn about new destinations, and plan trips</h5>
                    <a href="https://apps.apple.com/app/id1489423707" class="card-button">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="flip">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                   <h1 class="text-shadow">Other</h1>
                </div>
                <div class="back">
                   <h2>Angular</h2>
                   <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="flip">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                   <h1 class="text-shadow">USC Tour AR</h1>
                </div>
                <div class="back">
                   <h2>Angular</h2>
                   <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"> </div>
    </div>
    
</div>