<head>
	<title>Colby Hill</title>
	<meta name="description" content="I'm Colby Hill, a Software Engineer. This is my Online Portfolio. Learn about me and my experience.">
	<meta name="keywords" content="Colby Hill,Portfolio,Software Engineer,colby-hill,Experience,About,Colby, Hill,">
</head>

<div style="height: 50px">
	<!-- prevent nav bar from overlapping content on mobile -->
</div>
<div id="header-div">
	<h1 id="header-main-block">
		Hello, I'm <span style="color: rgb(0, 68, 255)"> <b> Colby Hill</b></span>.<br>
		I'm a Software Developer.
	</h1>
</div>
<div class="row" style="width: 100vw; background-color: #575757; color: white; margin: 0"
	[ngStyle]="{'padding': onDesktop ? '2% 6%' : '3% 0'}">
	<div class="col-sm-6" style="text-align: center" [ngStyle]="{'width': onDesktop ? '50%' : '100%' }">
		<p style="font-family: lato; margin: 0"
			[ngStyle]="{'font-size': onDesktop ? '2.5vmin' : '3.5vmin', 'padding': onDesktop ? '3% 7%' : '2% 0%'}">
			Currently, I am a Software Development Intern at Krumware in Columbia, SC.
			I am a senior at the University of South Carolina, where I am working towards my Bachelor's in Computer
			Science with an
			Information Assurance and Security Certificate and Leadership Distinction in Research.
			With previous experience in research, IT asset management, and business to business sales,
			I bring a unique perspective to the development community.
		</p>
	</div>
	<div class="col-sm-6" style="float: center; text-align: center"
		[ngStyle]="{'margin-bottom': onDesktop ? '0' : '2%'}">
		<div class="image-cropper">
		</div>
	</div>
</div>
<!-- <div id="quote-holder"
	[ngStyle]="{'font-size': onDesktop ? '2.5vmin' : '3vmin', 'padding': onDesktop ? '3% 2%' : '5% 3%'}">
	"Every great developer you know got there by solving problems they were unqualified to solve until they actually did
	it." - Patrick McKenzie
</div> -->
<div class="row" style="background-color: #1a252f; padding: 10px; text-align: center; margin: 0 auto;">
	<h1 style="font-size: 6rem; text-align: center; width: 100%; color: #ffffff;">Experience</h1>
</div>


<div class="row experience-row" *ngIf="onDesktopNoCompress"> 
	<div class="col-1-of-2">
		<app-fancy-card companyName={{CompanyOneName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
	<div class="col-1-of-2">
		<app-fancy-card companyName={{CompanyTwoName}} positionName="Software Developer" imageName="../../../assets/krum.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I am working as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
</div>
<div class="row experience-row" *ngIf="onDesktopNoCompress"> 
	<div class="col-1-of-2">
		<app-fancy-card companyName={{CompanyThreeName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
	<div class="col-1-of-2">
		<app-fancy-card companyName={{CompanyFourName}} positionName="Software Developer" imageName="../../../assets/krum.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I am working as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
</div>







<div class="row experience-row-compressed" *ngIf="OnDesktopCompressCards"> 
	<div class="col-1-of-1">
		<app-fancy-card companyName={{CompanyOneName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
	<div class="col-1-of-1">
		<app-fancy-card companyName={{CompanyTwoName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
</div>

<div class="row experience-row-compressed" *ngIf="OnDesktopCompressCards"> 
	<div class="col-1-of-1">
		<app-fancy-card companyName={{CompanyThreeName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
	<div class="col-1-of-1">
		<app-fancy-card companyName={{CompanyFourName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
</div>










<div class="row experience-row-mobile" *ngIf="onMobileElse"> 
	<div class="col-1-of-1">
		<app-fancy-card companyName={{CompanyOneName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
	<div class="col-1-of-1">
		<app-fancy-card companyName={{CompanyTwoName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
</div>

<div class="row experience-row-mobile" *ngIf="onMobileElse"> 
	<div class="col-1-of-1">
		<app-fancy-card companyName={{CompanyThreeName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
	<div class="col-1-of-1">
		<app-fancy-card companyName={{CompanyFourName}} positionName="Software Engineering Intern" imageName="../../../assets/cap1.png"
			positionDates="August 2019 - Current"
			positionDetails="During my senior year, I worked as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises.">
		</app-fancy-card>
	</div>
</div>

<!-- <div style="padding: 10px 6%; background-color: #1a252f;">
	<h1 style="font-size: 6rem; text-align: center; width: 100%; color: #ffffff;">Experience</h1>
	<mat-grid-list cols={{numCols}} gutterSize={{gutterHeight}} rowHeight={{rowHeight}}>
		<mat-grid-tile>
			<div style="padding: 0% 0;">
				<app-fancy-card companyName="Krumware" positionName="Software Developer" imageName="../../../assets/krum.png"
					positionDates="August 2019 - Current"
					positionDetails="This Fall, I am working as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises. I collaborate with the development team and work directly on their main projects. In this role, I will be developing complex and feature-rich progressive web applications, utilizing continuous integration and development pipelines to maximize development efficiency, and gaining experience with many new tools and technologies. I am thrilled for a semester of developing, collaborating, learning, and growing!">
				</app-fancy-card>
			</div>
		</mat-grid-tile>
		<mat-grid-tile>
			<div style="padding: 0;">
				<app-fancy-card companyName="Boeing" positionName="Software Engineering Intern" imageName="../../../assets/boeing2.png"
					positionDates="May 2019 - August 2019"
					positionDetails="This Fall, I am working as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises. I collaborate with the development team and work directly on their main projects. In this role, I will be developing complex and feature-rich progressive web applications, utilizing continuous integration and development pipelines to maximize development efficiency, and gaining experience with many new tools and technologies. I am thrilled for a semester of developing, collaborating, learning, and growing!">
				</app-fancy-card>
			</div>
		</mat-grid-tile>
		<mat-grid-tile>
			<div style="padding: 0;">
				<app-fancy-card companyName="University of South Carolina" positionName="Research Assistant" imageName="../../../assets/usc.png"
					positionDates="August 2019 - Current"
					positionDetails="This Fall, I am working as a Software Development intern at Krumware, a startup in Columbia, SC that builds distributed systems and web applications for enterprises. I collaborate with the development team and work directly on their main projects. In this role, I will be developing complex and feature-rich progressive web applications, utilizing continuous integration and development pipelines to maximize development efficiency, and gaining experience with many new tools and technologies. I am thrilled for a semester of developing, collaborating, learning, and growing!">
				</app-fancy-card>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</div> -->




<div style="text-align: center; width: 100%; font-size: 5vmin; color: white; background-color: #215994; font-family: Raleway;"
	[ngStyle]="{'padding': onDesktop ? '1% 0 ' : '3% 0'}">
	What next?
	<div style="padding: 0; margin: 0; display: block; font-family: lato"
		[ngStyle]="{'text-align': onDesktop ? 'center' : 'center' }">
		<button style="margin: 1% 3%" class="myButton" routerLink="about"
			[ngStyle]="{'font-size': onDesktop ? '2vmin' : '3vmin'}"> Learn about me </button>
		<button class="myButton" routerLink="experience" [ngStyle]="{'font-size': onDesktop ? '2vmin' : '3vmin'}"> See
			my work </button>
	</div>
</div>