<div style="height: 50px">
<!-- prevent nav bar from overlapping content on mobile -->
</div>
<div id="header-div">
	<h1 id="header-main-block">
		Hello, I'm <span style="color: rgb(0, 68, 255)"> <b> Colby Hill</b></span>.<br>
		I'm a Software Developer.
	</h1>
</div>
<div class="row" style="width: 100vw; background-color: #575757; padding: 2% 6%; color: white; margin: 0">
	<div class="col-sm-6" style="width: 50%">
		<h1 style="text-align: center; font-family: Raleway; font-size: 6vmin; padding: 0; margin: 0;"> BIO</h1>
		<p style="padding: 1% 10%; font-family: lato; font-size: 2vmin">
			I am currently a Software Development Intern at Krumware in Columbia, SC.
			I am also a senior at the University of South Carolina where I am working towards my Bachelor's in Computer Science with a specialization in Information Assurance. 
			With previous experience in business to business sales, aerospace, education, leadership, IT asset management, health, and research, I bring a unique perspective to the development community.
		</p>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-2">
		<div class="image-cropper">
			
		</div>
	</div>
	<div class="col-sm-3">
	</div>
</div>

<div id="quote-holder">
	"Every great developer you know got there by solving problems they were unqualified to solve until they actually did
	it." - Patrick McKenzie
</div>
<div class="container" style="font-family: Raleway; padding: 2% 0; width: 100vw; background-color: #215994">
	<div class="row" style="text-align: center; font-size: 5vmin; padding: 1% 0; color: white">
		What next?
	</div>
	<div class="row" *ngIf="onDesktop">
		<div class="col-sm-6" style="text-align: right">
			<button class="myButton" routerLink="about"> Learn about me </button> 
		</div>
		<div class="col-sm-6" style="text-align: left">
			<button class="myButton" routerLink="experience"> See my work </button>
		</div>
	</div>
	<div class="row" *ngIf="!onDesktop">
		<div class="col-sm-6" style="text-align: center; padding: 2% 0">
			<button class="myButton">Learn about me</button>
		</div>
		<div class="col-sm-6" style="text-align: center; padding: 2% 0">
			<button class="myButton">See my work</button>
		</div>
	</div>
</div>