<head>
	<title>Colby Hill</title>
	<meta name="description" content="I'm Colby Hill, a Software Engineer. This is my Online Portfolio. Learn about me and my experience.">
	<meta name="keywords" content="Colby Hill,Portfolio,Software Engineer,colby-hill,Experience,About,Colby, Hill,">
</head>

<div style="height: 50px" id="top-of-page">
	<!-- prevent nav bar from overlapping content on mobile -->
</div>
<app-title-section></app-title-section>
<app-intro-section></app-intro-section>
<app-experience-section></app-experience-section>
<app-project-section></app-project-section>
<!-- <app-skills-section></app-skills-section> -->

<!-- in case I want to add a contact me part -->
<!-- <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
  <path d="M0 0 L50 100 L100 0 Z" fill="white" stroke="white"></path>
</svg> -->
