#header-div {
    text-align:center;
    background-image: url('../../../assets/header-back.jpg');
    width: 100vw;
    height: 40vmin;
    padding: 0;
    margin: 0;
}

#header-main-block {
    color: white;
    padding: 15vmin 0;
    margin: 0;
    font-size: 5vmin;
    font-family: 'Raleway';
}

#quote-holder {
    text-align: center;
    font-family: lato;
    background-color: #1a252f;
    color: white;
    font-size: 2.5vmin;
    padding: 3% 0;
}

.myButton {
	padding: 3% 10%;
	display: inline-block;
    font-size: 2.0vmin;
    background: none;
    border-radius: 50px;
	border: 3px solid rgb(0, 68, 255);
	color: black;
    overflow: hidden;
}