.icon {
    font-size: 7vmin;
    color: #fff !important;
}
.mover:hover {
    color: #2c608e;
}
.bkg {
    background-color: #005A26;
}
.footer-row {
    width: 100vw;
    height: 10vmin;
}
.footer-col {
    text-align: center;
    padding: 1vmin 0.5vmin;
    margin-bottom: 0.5%;
    height: 100%;
    display: inline-block;
}
.nb {
    color: white;
    font-family: 'Montserrat';
}
.active-link-css {
   text-decoration: underline;
}
.menu-bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.nav-link:hover {
    background-color: #298b52;
}
.nav-link:active, .nav-link:after, .nav-link:active:after, .nav-link:not(:hover) {
    background-color: #005A26;
}