<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link href="https://cdn.materialdesignicons.com/4.1.95/css/materialdesignicons.min.css"
	  rel="stylesheet">
<!-- grab resources necessary for the page -->
</head>

<!-- Container of the nav bar on desktop-->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" style="background-color: #1a252f;" *ngIf="navVisible">
	<div class="container" style="float: left; padding: 0 1%; margin: 0;">
		<a class="navbar-brand" style="font-family: Raleway">Colby Hill</a>
		<ul class="nav navbar-nav nb">
			<li class="nav-item"><a class="nav-link nb" routerLink="/" routerLinkActive="active-link-css" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
			<li class="nav-item"><a class="nav-link nb" routerLink="about" routerLinkActive="active-link-css" [routerLinkActiveOptions]="{exact: true}">About Me</a></li>
			<li class="nav-item"><a class="nav-link nb" routerLink="experience" routerLinkActive="active-link-css" [routerLinkActiveOptions]="{exact: true}">Experience</a></li>
		</ul>
	</div>
</nav>

<!-- Container of the nav bar on mobile-->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" style="background-color: #1a252f; width: 100vw;" *ngIf="!navVisible">
	<button (click)="showMobileNav=!showMobileNav" style="color: white; font-size: 2.5em; background: none; border: none;">
		<div class="menu-bar"> </div>
		<div class="menu-bar"> </div>
		<div class="menu-bar"> </div>
	</button>
	<div class="container" style="padding: 3% 1%; margin: 0;" *ngIf="showMobileNav">
		<ul class="nav navbar-nav nb" style="float: left" routerLinkActive="active">
			<li class="nav-item"><a (click)="showMobileNav=!showMobileNav" class="nav-link nb" routerLink="">Home</a></li>
			<li class="nav-item"><a (click)="showMobileNav=!showMobileNav" class="nav-link nb" routerLink="about">About Me</a></li>
			<li class="nav-item"><a (click)="showMobileNav=!showMobileNav" class="nav-link nb" routerLink="experience">Experience</a></li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>

<div class="footer-row" style="padding: 0; margin: 0; text-align: center; overflow: visible">
	<div class="footer-col">
		<a class="linkedin-icon" href="https://www.linkedin.com/in/colby-h/"> <span class="mdi mdi-linkedin-box"></span> </a>
	</div>
	<div class="footer-col">
		<a class="linkedin-icon" href="https://github.com/colbyhill21"> <span class="mdi mdi-github-box"></span> </a>
	</div>
</div>
<div class="row" style="text-align: center; color: white; padding: 0; margin: 0; background-color: black; width: 100vw;">
	Colby Hill &copy;2019
</div>



