.linkedin-icon {
    font-size: 4em;
    color: #fff !important;
}

.footer-row {
    background-color: black;
    width: 100vw;
    height: 20vmin;
}

.footer-col {
    text-align: center;
    padding-top: 2vmin;
    height: 100%;
    display: inline-block;
}

.nb {
    color: white;
    font-family: 'Raleway';
}
