<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link href="https://cdn.materialdesignicons.com/4.1.95/css/materialdesignicons.min.css"
	  rel="stylesheet">
</head>

<div id="header-div">
	<h1 id="header-main-block">
		Hello, I'm <span style="color: rgb(0, 68, 255)">Colby Hill</span>.<br>
		I'm a Software Developer.
	</h1>
</div>
<router-outlet></router-outlet>
<div>
	sup dawg
</div>

<!-- to make the menu stay with the page use position page -->

<div class="row footer-row">

	<div class="footer-col">
		<a class="linkedin-icon" href="https://www.linkedin.com/in/colby-h/"> <span class="mdi mdi-linkedin-box"></span> </a>
	</div>
	<div class="footer-col">
		<a class="linkedin-icon" href="https://github.com/colbyhill21"> <span class="mdi mdi-github-box"></span> </a>
	</div>

</div>
