<div style="background-size: cover; opacity: 95%; padding-bottom: 3%; margin-bottom: 0;"
    [ngStyle]="{'background-image': onDesktop ? 'url(../../../../assets/iceland.jpg)' : 'null', 'background-color': onDesktop ? 'black' : 'gray'}">

    <div class="row" style="padding: 2% 10px; text-align: center; margin: 0% auto;" id="skill-cards">
        <h1 style="text-align: center; width: 100%; color: #ffffff; text-transform: uppercase;"
        [ngStyle]="{'font-size': onDesktop ? '3vw' : '8vw' }">Skills
        </h1>
    </div>

    <div class="row" style="vertical-align: middle; text-align: center; display: flex; flex-flow: row wrap; width: 100vw; margin: 0;">
        <div class="col-sm-3" style="width: 22%;"></div> <!-- spacer -->
        <div class="col-sm-2 skill-card" [ngStyle]="{'width': onDesktop ? '16.6666666667%' : '100%', 'padding': onDesktop ? '1% 0%' : '5%', 'margin': onDesktop ? '1%' : '5%'}">
            <h1> <span class="icon mdi mdi-server"></span></h1> 
            <h3 class="skill-category"> Back end</h3>
            <ul class="skill-list">
                <li class="skill-list-item">Express</li>
                <li class="skill-list-item">Python</li>
                <li class="skill-list-item">Spring</li>
                <li class="skill-list-item">MongoDB</li>
            </ul>
        </div>
        <div class="col-sm-2 skill-card" [ngStyle]="{'width': onDesktop ? '16.6666666667%' : '100%', 'padding': onDesktop ? '1% 0%' : '5%', 'margin': onDesktop ? '1%' : '5%'}">
            <h1><span class="icon mdi mdi-monitor-screenshot"></span></h1>
            <h3 class="skill-category"> Front end</h3> 
            <ul class="skill-list">
                <li class="skill-list-item">NodeJS</li>
                <li class="skill-list-item">Angular</li>
                <li class="skill-list-item">HTML5</li>
                <li class="skill-list-item">CSS3</li>
            </ul>
        </div>
        <div class="col-sm-2 skill-card" [ngStyle]="{'width': onDesktop ? '16.6666666667%' : '100%', 'padding': onDesktop ? '1% 0%' : '5%', 'margin': onDesktop ? '1%' : '5%'}">
            <h1><span class="icon mdi mdi-tools"></span></h1>
            <h3 class="skill-category"> Deployment</h3>
            <ul class="skill-list">
                <li class="skill-list-item">Kubernetes</li>
                <li class="skill-list-item">Docker</li>
                <li class="skill-list-item">Jenkins</li>
                <li class="skill-list-item">Github Actions</li>
            </ul>
        </div>
        <div class="col-sm-3"></div> <!-- spacer -->
    </div>
    <div class="row" style="vertical-align: middle; text-align: center; display: flex; flex-flow: row wrap; width: 100vw; margin: 0">
        <div class="col-sm-3" style="width: 22%;"></div> <!-- spacer -->
        <div class="col-sm-2 skill-card" [ngStyle]="{'width': onDesktop ? '16.6666666667%' : '100%', 'padding': onDesktop ? '1% 0%' : '5%', 'margin': onDesktop ? '1%' : '5%'}">
            <h1> <span class="icon mdi mdi-cloud"></span></h1>
            <h3 class="skill-category"> Cloud</h3>
            <ul class="skill-list">
                <li class="skill-list-item">AWS</li>
                <li class="skill-list-item">Rancher</li>
                <li class="skill-list-item">Pivotal</li>
                <li class="skill-list-item">Azure</li>
            </ul>
        </div>
        <div class="col-sm-2 skill-card" [ngStyle]="{'width': onDesktop ? '16.6666666667%' : '100%', 'padding': onDesktop ? '1% 0%' : '5%', 'margin': onDesktop ? '1%' : '5%'}">
            <h1> <span class="icon mdi mdi-cellphone-iphone"></span></h1>
            <h3 class="skill-category"> Mobile</h3>
            <ul class="skill-list">
                <li class="skill-list-item">Swift</li>
                <li class="skill-list-item">Cocoa Pods</li>
                <li class="skill-list-item">Java</li>
                <li class="skill-list-item">MPAndroidChart</li>
            </ul>
        </div>
        <div class="col-sm-2 skill-card" [ngStyle]="{'width': onDesktop ? '16.6666666667%' : '100%', 'padding': onDesktop ? '1% 0%' : '5%', 'margin': onDesktop ? '1%' : '5%'}">
            <h1> <span class="icon mdi mdi-chart-bell-curve-cumulative"></span> </h1>
            <h3 class="skill-category"> Analytics</h3> 
            <ul class="skill-list">
                <li class="skill-list-item">R</li>
                <li class="skill-list-item">Matlab</li>
                <li class="skill-list-item">Hadoop</li>
                <li class="skill-list-item">Tableau</li>
            </ul>
        </div>
        <div class="col-sm-3"></div> <!-- spacer -->
    </div>
</div>