.skill-card {
    background-color: white;
    min-width: 120px;
    transition-property: all;
    transition-duration: 0.35s;
    transition-delay: 0s;
}
.skill-card:hover {
    transform: scale(1.04) translateY(-3%);
}

.skill-category {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: black;
}

.icon {
    display: inline-block;
    font: 14px/1 "Lato";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: black;
    text-align: center;
    padding: 10px;
    transition: all .5s;
    margin: 5px;
    font-size: 4vw;
}

.skill-list {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #777;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skill-list-item {
    padding: 1% 0;
}

@keyframes pulse_animation {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

.skill-col {
    margin: 2.15%;
    padding: 2% 0;
    display: inline-block;
}
