#expHeader {
    padding: 2% 5% 0;
    margin: 0; 
    font-family: Raleway; 
    color: white; 
    background-color: #575757; 
}

.expImage {
    padding: 0; 
    margin: 0; 
    border: 3px solid white;
}

.col-sm-9 {
    overflow-wrap: break-word; 
    font-size: 2.5vmin; 
    padding: 0 1%; 
    margin: -0.5% 0;
}
.strong {
    padding: 0; 
    margin: 0;
    font-family: Raleway !important;
}
.my-icon {
    display: inline;
    font-size: inherit;
    color: #fff !important;
}
.myButton {
	padding: 1% 5%;
    display: inline-block;
    text-align: center;
    background: none;
    border-radius: 50px;
    margin-top: 2%; 
	border: 2px solid white;
	color: white;
    overflow: hidden;
}
.mdi {
    font-size: 2vmin;
}