#expHeader {
    padding: 2% 5% 0;
     margin: 0; 
     font-family: Ubuntu; 
     color: white; 
     background-color: #575757; 
     font-size: 9vmin;
}

.expImage {
    width: 100%; 
    padding: 0; 
    margin: 0; 
    border: 3px solid white;
}

.col-sm-9 {
    overflow-wrap: break-word; 
    font-size: 2.5vmin; 
    padding: 0 1%; 
    margin: -0.5% 0;
}
.strong {
    padding: 0; 
    margin: 0;
    font-family: Ubuntu;
}