<div style="width: 100%; margin: 0; font-family: Montserrat; padding: 20px">
    <div style="background-color: white; padding: 10px 20px; width: 320px; height: 320px; border-radius: 30px;">
        <h3 style="font-weight: 900; font-size: 20px;">{{compName}}</h3>
        <h3 style="font-weight: 500; font-size: 14px; padding: 0; margin: 15px 0">{{title}}</h3>
        <h3 style="font-weight: 500; font-size: 14px; padding: 0; margin: 15px 0;">{{dates}}</h3>
        <div style="font-weight: 400; font-size: 12px; padding: 0" *ngFor="let bullet of bullets">
            <p style="margin: 4px 0;">{{bullet}}</p>
        </div>
    </div>
</div>